/*
	Widchard Faustin Portfolio CSS Document
	June 07, 2020

*/


body, h1 {
	font-family: "Raleway", sans-serif
}; 

body, html{
	height: 100%
};

html {
	background-image: url(/Backgrounds/WFaustinBackground.png)
};
